<html>
<head>
    <title>{% block title %}WebRTC Client Manager beta{% endblock %}</title>
    {% assets "css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% block css %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
    {% endblock %}
    {% block script %}
    {% endblock %}
</head>
<body>

{% if current_user.is_admin or IS_LOCAL_INSTALLATION %}
    {% set navigation_bar = [
    (url_for('main.home'), 'main', 'home'),
    (url_for('browser_handling.list_all'), 'browser_handling', 'computer'),
    (url_for('static', filename="docs/html/index.html"), 'help', 'help')
] -%}
{% else %}
    {% set navigation_bar = [
    (url_for('main.home'), 'main', 'home')
] -%}
{% endif %}
{% set active_page = active_page|default('about') -%}


{% from "cern_toolbar/macros.html" import render_cern_toolbar %}
{{ render_cern_toolbar(current_user) }}

<header>
    <nav class="blue">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <a href="#" class="brand-logo">WebRTC Client Manager beta</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% for href, id, caption in navigation_bar %}
                        <li {% if id == main_page %} class="active"{% endif %}><a href="{{ href|e }}"><i
                                class="material-icons">{{ caption|e }}</i></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div id="header">{% block header %}{% endblock %}</div>
        <div id="messages-wrap">
            <div id="messages">
                {% for category, msg in get_flashed_messages(with_categories=true) %}
                    <div class="chip {{ category }} lighten-1">
                        <span class="message flash-{{ category }}">{{ msg }}</span>
                        <i class="material-icons">close</i>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">{% block footer %}{% endblock %}</div>
    </div>
</main>


<ul id="slide-out" class="side-nav fixed" style="left: 0px;">
    <li class="bold {% if 'about' == active_page %}active{% endif %} side-nav-header"><a
            href="{{ url_for('main.home') }}"
            class="waves-effect waves-light"><i
            class="material-icons">home</i> Home</a>
    </li>
    {% if current_user.is_admin or IS_LOCAL_INSTALLATION %}
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a
                        class="collapsible-header  waves-effect waves-light
                        {% if 'browser_handling_list' == active_page %}active{% endif %}
                        {% if 'browser_handling_configuration' == active_page %}active{% endif %}"><i
                        class="material-icons">computer</i> {{ _('Browser Handling') }}</a>
                    <div class="collapsible-body" style="">
                        <ul>
                            <li class="{% if 'browser_handling_list' == active_page %}active{% endif %}"><a
                                    href="{{ url_for('browser_handling.list_all') }}">{{ _('Managed Browsers List') }}</a>
                            </li>
                            <li class="{% if 'browser_handling_configuration' == active_page %}active{% endif %}"><a
                                    href="{{ url_for('browser_handling.configuration') }}">{{ _('Configuration') }}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    {% endif %}
    <li class="bold {% if 'help' == active_page %}active{% endif %} side-nav-header"><a
            href="{{ url_for('static', filename="docs/html/index.html") }}"
            class="waves-effect waves-light"><i
            class="material-icons">help</i> {{ _('Help') }}</a>
    </li>
</ul>

</body>
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
    $(".button-collapse").sideNav();
</script>
{% block extra_javascripts %}{% endblock %}
</html>